body {
    background-color: #F0EFF2;
    ;
}

.staff-attendance-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
}

.staff-attendance-container h1 {
    border-left: 8px solid #000;
    padding-left: 10px;
    margin-bottom: 30px;
}

.month-switch {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
}

.month-switch input[type="month"] {
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.attendance-table th,
.attendance-table td {
    padding: 12px;
    color: #737373;
    border-bottom: 1px solid #E1E1E1;
    text-align: center;
}

.attendance-table th {
    border-bottom: 3px solid #E1E1E1;
}

.btn-export {
    display: block;
    margin-left: auto;
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}