body {
    background-color: #F0EFF2;;
}

.attendance-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
}

.month-switch {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.attendance-table th,
.attendance-table td {
    padding: 12px;
    color: #737373;
    border-bottom: 1px solid #E1E1E1;
    text-align: center;
}

.attendance-table th {
    border-bottom: 3px solid #E1E1E1;
}